{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	Home
{% endblock %}

{% block body %}
<button type="button" id="switch">pour Mme</button>
<div class="container d-flex justify-content-center">
    <div class="damier" id="damier">
    
    </div>
</div>


{% endblock %}
    
{% block javascripts %}
    <script type="text/javascript" src="js/damier.js"></script>
{% endblock %}