{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	Home
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center">
    <div class="damier" id="damier">
		
    </div>
</div>


{% endblock %}
    
{% block javascripts %}
    <script type="text/javascript" src="js/damier.js"></script>
{% endblock %}