{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Rangs
{% endblock %}

{% block body %}

	<div class="container mt-5 pb-3" style="background-color:rgba(31, 41, 55); border-radius: 16px;">
		<div class="d-flex align-items-center justify-content-between">
			<p class="fs-4">Liste des rangs</p>
			<p>
				<button class="btn prev-button">
					<i class="bi bi-arrow-left-circle text-white fs-3"></i>
				</button>
				<button class="btn next-button">
					<i class="bi bi-arrow-right-circle text-white fs-3"></i>
				</button>
			</p>
		</div>
		<div class="scroll-container pt-2">
			<div class="container-rang p-4">
				<img class="img-fluid w-25" src="images/rangs/bronze-icon.png"/>
				<h5 style="color:#cd7f32 !important;">Bronze</h5>
				<p>0 - 500</p>
				<p>Récompenses :</p>
				<ul class="list-unstyled">
					<li><i class="bi bi-check-lg text-success fs-5"></i> Logo de bronze devant le pseudo.</li>
					<li><i class="bi bi-check-lg text-success fs-5"></i> Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#cd7f32 !important;"></i>Bronze.</li>
					<li><i class="bi bi-check-lg text-success fs-5"></i> Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#FF007F !important;"></i>Rose.</li>
					<li><i class="bi bi-check-lg text-success fs-5"></i> Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#1E90FF !important;"></i>Bleu.</li>
				</ul>
			</div>
			<div class="container-rang p-4">
				<img class="img-fluid w-25" src="images/rangs/silver-icon.png"/>
				<p style="color:#C0C0C0;">Argent</p>
				<p>500 - 1000</p>
				<p>Récompenses :</p>
				<ul class="list-unstyled">
					<li>Logo de bronze devant le pseudo.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#cd7f32 !important;"></i>Bronze.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#FF007F !important;"></i>Rose.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#1E90FF !important;"></i>Bleu.</li>
				</ul>
			</div>
			<div class="container-rang p-4">
				<img class="img-fluid w-25" src="images/rangs/gold-icon.png"/>
				<p style="color:#FFD700;">Gold</p>
				<p>1000 - 1500</p>
				<p>Récompenses :
				</p>
				<ul class="list-unstyled">
					<li>Logo de bronze devant le pseudo.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#cd7f32 !important;"></i>Bronze.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#FF007F !important;"></i>Rose.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#1E90FF !important;"></i>Bleu.</li>
				</ul>
			</div>
			<div class="container-rang p-4">
				<img class="img-fluid w-25" src="images/rangs/emerald-icon.png"/>
				<p style="color:#E5E4E2;">Émeraude</p>
				<p>1500 - 2000</p>
				<p>Récompenses :
				</p>
				<ul class="list-unstyled">
					<li>Logo de bronze devant le pseudo.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#cd7f32 !important;"></i>Bronze.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#FF007F !important;"></i>Rose.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#1E90FF !important;"></i>Bleu.</li>
				</ul>
			</div>
			<div class="container-rang p-4">
				<img class="img-fluid w-25" src="images/rangs/diamond-icon.png"/>
				<p style="color:#b9f2ff;">Diamant</p>
				<p>2000 - 2500</p>
				<p>Récompenses :
				</p>
				<ul class="list-unstyled">
					<li>Logo de bronze devant le pseudo.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#cd7f32 !important;"></i>Bronze.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#FF007F !important;"></i>Rose.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#1E90FF !important;"></i>Bleu.</li>
				</ul>
			</div>
			<div class="container-rang p-4">
				<img class="img-fluid w-25" src="images/rangs/master-icon.png"/>
				<p style="color:#c36de3;">Maître</p>
				<p>2500 +</p>
				<p>Récompenses :
				</p>
				<ul class="list-unstyled">
					<li>Logo de bronze devant le pseudo.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#cd7f32 !important;"></i>Bronze.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#FF007F !important;"></i>Rose.</li>
					<li>Obtention du thème de pion<i class="bi bi-square-fill ms-1 me-1" style="color:#1E90FF !important;"></i>Bleu.</li>
				</ul>
			</div>
			<!-- Répétez ces divs pour chaque élément que vous souhaitez afficher -->
		</div>
	</div>


	<script>
		const prevButton = document.querySelector(".prev-button");
const nextButton = document.querySelector(".next-button");
const scrollContainer = document.querySelector(".scroll-container");

prevButton.addEventListener("click", () => {
scrollContainer.scrollLeft -= 432; // Ajustez la valeur de défilement à votre préférence
});

nextButton.addEventListener("click", () => {
scrollContainer.scrollLeft += 432; // Ajustez la valeur de défilement à votre préférence
});
	</script>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="js/rangs-carousel.js"></script>
{% endblock %}
